@font-face {
  font-family: 'ProximaNova';
  src: url('./assets/fonts/ProximaNova-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('./assets/fonts//ProximaNova-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('./assets/fonts/ProximaNova-Semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-family: 'ProximaNova';
  z-index: 1;
}

html,
body {
  height: 100%;
  background-color: #0b0e11;
}

.App {
  background: #0b0e11;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  border-bottom: 1px solid #2b3139;
}

.logo {
  max-width: 100%;
}

.block_sum {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_sh {
  max-width: 100%;
  margin-right: 8px;
}

.sum {
  max-width: 100%;
  margin-right: 4px;
}

.block_sum_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #eaecef;
}

.main {
  min-height: calc(100vh - 131px);
  padding: 25px;
}

@media (max-width: 480px) {
  .main {
    padding: 16px;
  }
}

.container_main {
  margin-left: auto;
  margin-right: auto;

  max-width: 750px;
  padding: 16px 16px 32px 16px;
  background: #14161c;
  box-shadow: inset 0px 2px 2px #1b1e25;
  border-radius: 24px;
}

.simpsons_img {
  max-width: 100%;
  margin-bottom: 32px;
}

@media (max-width: 480px) {
  .simpsons_img {
    margin-bottom: 24px;
  }
}

.text_data {
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 32px;

  text-align: center;

  color: #eaecef;
}

@media (max-width: 480px) {
  .text_data {
    font-size: 22px;
    margin-bottom: 24px;
  }
}

.text_number {
  color: rgb(255, 145, 0);
}

.timer_block {
  display: flex;
  justify-content: center;
}

.timer {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

@media (max-width: 480px) {
  .timer {
    font-size: 36px;
    line-height: 48px;
  }
}

.data_names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 220px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  text-align: center;

  color: #848a8f;
}

@media (max-width: 480px) {
  .data_names {
    max-width: 165px;
  }
}

.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #2b3139;
}

.footer_text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;

  color: #848a8f;
}
