@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./ProximaNova-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./ProximaNova-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('./ProximaNova-Semibold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
